* {
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    background: #000000;
}

h1 {
    font: bold 30px verdana, sans-serif;
}

h2 {
    font: bold 14px verdana, sans-serif;
}

h3 {
    font: bold 20px verdana, sans-serif;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
    display: block;
}

body {
    text-align: center;
}

#agrupar {
    width: 1000px;
    margin: 30px auto;
    text-align: center;
}

#cabecera {
    text-align: left;
    width: 950px;
    border: 1.5px solid #87C1FF;
}

#cabecera li {
    display: inline-block;
    padding: 20px 30px;
}

#seccion {
    float: left;
    width: 640px;
    margin: 20px 0px;
}

#projectsSection {
    float: left;
    width: 950px;
    margin: 20px auto;
}

#columna {
    float: left;
    width: 240px;
    margin: 20px 27px;
    padding: 20px;
    border: 1.5px solid #87C1FF;
}

#columna blockquote{   
    padding: 20px;
}

#primero{    
    border-bottom: 2.5px solid #87C1FF;
}

#pie {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2.5px solid #87C1FF;
}

article {
    border: 1.5px solid #87C1FF;
    padding: 20px;
    margin-bottom: 15px;
}

time {
    color: #87C1FF;
}

figcaption {
    font: italic 14px verdana, sans-serif;
}

div {
    margin: 20px;
    padding: 10px;
    border: 1.5px solid #87C1FF;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#icono{
    width: 50px; height: 50px;
}

#pie li {
    display: inline-block;
    padding: 0px 10px;
}